<html>
<head>
    <meta charset="UTF-8">
    <title>CoffeeNote</title>
</head>
<body>
<div>
    <h2>{{ coffeenote.bean }} / {{ coffeenote.shop.name }}</h2>
    <small>作成日：{{ coffeenote.created_at }}</small>
    <p>{{ coffeenote.roast_level }}</p>
    <p>{{ coffeenote.extract_method }}</p>
    <p>{{ coffeenote.grind_size }}</p>
    <p>{{ coffeenote.memo }}</p>
    <p>{{ coffeenote.smell }}</p>
    <p>{{ coffeenote.acdity }}</p>
    <p>{{ coffeenote.body }}</p>
    <p>{{ coffeenote.aftertaste }}</p>
    <p>{{ coffeenote.bitterness }}</p>
</div>
</body>
</html>